{% extends "base.html" %} {% block content %}
<div class="no-bottom no-top zebra" id="content">
  <div id="top"></div>

  <!-- section begin -->
  <section id="subheader" class="jarallax text-light">
    <img
      src="{{ url_for('static', filename='images/background/14.jpg') }}"
      class="jarallax-img"
      alt=""
    />
    <div class="center-y relative text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>My Profile</h1>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- section close -->

  <section id="section-settings" class="bg-gray-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mb30">
          <div class="card p-4 rounded-5">
            <div class="profile_avatar">
              <div class="profile_img">
                <img src="{{ user.avatar(128) }}" alt="" />
              </div>
              <div class="profile_name">
                <h4>
                  {{ user.username }}
                  <span class="profile_username text-gray"
                    >{{ user.email }}</span
                  >
                </h4>
              </div>
            </div>
            <div class="spacer-20"></div>
            <ul class="menu-col">
              <li>
                <a href="{{ url_for('controller.profile') }}" class="active"
                  ><i class="fa fa-user"></i>My Profile</a
                >
              </li>
              <li>
                <a href="{{ url_for('controller.orders') }}"
                  ><i class="fa fa-calendar"></i>My Orders</a
                >
              </li>
              <li>
                <a href="{{ url_for('controller.favorite') }}"
                  ><i class="fa fa-car"></i>My Favorite Cars</a
                >
              </li>
              <li>
                <a href="{{ url_for('controller.logout') }}"
                  ><i class="fa fa-sign-out"></i>Sign Out</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-9">
          <div class="card p-4 rounded-5">
            <div class="row">
              <div class="col-lg-12">
                <form
                  id="form-create-item"
                  class="form-border"
                  method="post"
                  action="/api/user/edit/{{ user.id }}"
                >
                  <div class="de_tab tab_simple">
                    <ul class="de_nav">
                      <li class="active"><span>Profile</span></li>
                    </ul>

                    <div class="de_tab_content">
                      <div class="tab-1">
                        <div class="row">
                          <div class="col-lg-6 mb20">
                            <h5>Username</h5>
                            <input
                              type="text"
                              name="username"
                              id="username"
                              class="form-control"
                              value="{{ user.username }}"
                              placeholder="Enter username"
                            />
                          </div>
                          <div class="col-lg-6 mb20">
                            <h5>Email Address</h5>
                            <input
                              type="email"
                              name="email_address"
                              id="email_address"
                              class="form-control"
                              value="{{ user.email }}"
                              placeholder="Enter email"
                            />
                          </div>
                          <div class="col-lg-6 mb20">
                            <h5>New Password</h5>
                            <input
                              type="Password"
                              name="user_password"
                              id="user_password"
                              class="form-control"
                              placeholder="********"
                            />
                          </div>
                          <div class="col-lg-6 mb20">
                            <h5>Re-enter Password</h5>
                            <input
                              type="Password"
                              name="user_password_re-enter"
                              id="user_password_re-enter"
                              class="form-control"
                              placeholder="********"
                            />
                          </div>
                          <div class="col-lg-6 mb20">
                            <h5>Phone</h5>
                            <input
                              type="text"
                              name="phone"
                              id="phone"
                              class="form-control"
                              value="{{ user.phone }}"
                              placeholder="{{ user.phone }}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <input
                    type="submit"
                    class="btn-main"
                    value="Update profile"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
