{% extends "base.html" %} {% block content %}
<div class="no-bottom no-top zebra" id="content">
  <div id="top"></div>

  <!-- section begin -->
  <section id="subheader" class="jarallax text-light">
    <img
      src="{{ url_for('static', filename='images/background/14.jpg') }}"
      class="jarallax-img"
      alt=""
    />
    <div class="center-y relative text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>My Orders</h1>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- section close -->

  <section id="section-settings" class="bg-gray-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mb30">
          <div class="card p-4 rounded-5">
            <div class="profile_avatar">
              <div class="profile_img">
                <img src="{{ user.avatar(128) }}" alt="" />
              </div>
              <div class="profile_name">
                <h4>
                  {{ user.username }}
                  <span class="profile_username text-gray"
                    >{{ user.email }}</span
                  >
                </h4>
              </div>
            </div>
            <div class="spacer-20"></div>
            <ul class="menu-col">
              <li>
                <a href="{{ url_for('controller.profile') }}"
                  ><i class="fa fa-user"></i>My Profile</a
                >
              </li>
              <li>
                <a href="{{ url_for('controller.orders') }}" class="active"
                  ><i class="fa fa-calendar"></i>My Orders</a
                >
              </li>
              <li>
                <a href="{{ url_for('controller.favorite') }}"
                  ><i class="fa fa-car"></i>My Favorite Cars</a
                >
              </li>
              <li>
                <a href="{{ url_for('controller.logout') }}"
                  ><i class="fa fa-sign-out"></i>Sign Out</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-9">
          <div class="card p-4 rounded-5 mb25">
            <h4>Orders</h4>

            <table class="table de-table">
              <thead>
                <tr>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray">Order ID</span>
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray">Car Name</span>
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray"
                      >Pick Up Location</span
                    >
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray"
                      >Drop Off Location</span
                    >
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray"
                      >Pick Up Date</span
                    >
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray"
                      >Return Date</span
                    >
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray">Status</span>
                  </th>
                </tr>
              </thead>
              <tbody id="orders-table"></tbody>
            </table>
          </div>

          <div class="card p-4 rounded-5 mb25">
            <h4>Completed Orders</h4>

            <table class="table de-table">
              <thead>
                <tr>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray">Order ID</span>
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray">Car Name</span>
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray"
                      >Pick Up Location</span
                    >
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray"
                      >Drop Off Location</span
                    >
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray"
                      >Pick Up Date</span
                    >
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray"
                      >Return Date</span
                    >
                  </th>
                  <th scope="col">
                    <span class="text-uppercase fs-12 text-gray">Status</span>
                  </th>
                </tr>
              </thead>
              <tbody id="orders-table-completed"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}
