{% extends "base.html" %} {% block content %}
<div class="no-bottom no-top zebra" id="content">
  <div id="top"></div>

  <section id="subheader" class="jarallax text-light mb-90">
    <img
      src="{{ url_for('static', filename='images/background/2.jpg') }}"
      class="jarallax-img"
      alt=""
    />
    <div class="center-y relative text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Cars</h1>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-cars" class="mb-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="item_filter_group">
            <h4>Car Body Type</h4>
            <div class="de_form" id="car-body">
              <div class="de_checkbox">
                <input
                  id="suv-filter"
                  name="suv-filter"
                  type="checkbox"
                  value="運動休旅車"
                  onchange="applyFilters()"
                />
                <label for="suv-filter">運動休旅車</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car-filter"
                  name="car-filter"
                  type="checkbox"
                  value="轎車"
                  onchange="applyFilters()"
                />
                <label for="car-filter">轎車</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="coupe-filter"
                  name="coupe-filter"
                  type="checkbox"
                  value="雙門轎跑車"
                  onchange="applyFilters()"
                />
                <label for="coupe-filter">雙門轎跑車</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="hatchback-filter"
                  name="hatchback-filter"
                  type="checkbox"
                  value="掀背車"
                  onchange="applyFilters()"
                />
                <label for="hatchback-filter">掀背車</label>
              </div>
              <div class="de_checkbox">
                <input
                  id="rv-filter"
                  name="rv-filter"
                  type="checkbox"
                  value="休旅車"
                  onchange="applyFilters()"
                />
                <label for="rv-filter">休旅車</label>
              </div>
              <div class="de_checkbox">
                <input
                  id="other-bodies-filter"
                  name="other-bodies-filter"
                  type="checkbox"
                  value="其它"
                  onchange="applyFilters()"
                />
                <label for="other-bodies-filter">其它</label>
              </div>
            </div>
          </div>

          <div class="item_filter_group">
            <h4>Car Seats</h4>
            <div class="de_form" id="car-seat">
              <div class="de_checkbox">
                <input
                  id="car_seat_1"
                  name="car_seat_1"
                  type="checkbox"
                  value="2"
                  onchange="applyFilters()"
                />
                <label for="car_seat_1">2 seats</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_seat_2"
                  name="car_seat_2"
                  type="checkbox"
                  value="4"
                  onchange="applyFilters()"
                />
                <label for="car_seat_2">4 seats</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_seat_3"
                  name="car_seat_3"
                  type="checkbox"
                  value="5"
                  onchange="applyFilters()"
                />
                <label for="car_seat_3">5 seats</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_seat_4"
                  name="car_seat_4"
                  type="checkbox"
                  value="5plus"
                  onchange="applyFilters()"
                />
                <label for="car_seat_4">5+ seats</label>
              </div>
            </div>
          </div>

          <div class="item_filter_group">
            <h4>Car Engine Capacity (cc)</h4>
            <div class="de_form" id="car-displacement">
              <div class="de_checkbox">
                <input
                  id="car_engine_1"
                  name="car_engine_1"
                  type="checkbox"
                  value="1000~2000"
                  onchange="applyFilters()"
                />
                <label for="car_engine_1">1000 - 2000</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_engine_2"
                  name="car_engine_2"
                  type="checkbox"
                  value="2000~4000"
                  onchange="applyFilters()"
                />
                <label for="car_engine_2">2000 - 4000</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_engine_3"
                  name="car_engine_3"
                  type="checkbox"
                  value="4000~6000"
                  onchange="applyFilters()"
                />
                <label for="car_engine_3">4000 - 6000</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_engine_4"
                  name="car_engine_4"
                  type="checkbox"
                  value="6000plus"
                  onchange="applyFilters()"
                />
                <label for="car_engine_4">6000+</label>
              </div>
            </div>
          </div>

          <div class="item_filter_group">
            <h4>Price ($)</h4>
            <div class="price-input">
              <div class="field">
                <span>Min</span>
                <input
                  type="number"
                  class="input-min"
                  value="0"
                  onchange="applyFilters()"
                />
              </div>
              <div class="field">
                <span>Max</span>
                <input
                  type="number"
                  class="input-max"
                  value="2000"
                  onchange="applyFilters()"
                />
              </div>
            </div>
            <div class="slider">
              <div class="progress"></div>
            </div>
            <div class="range-input">
              <input
                type="range"
                class="range-min"
                min="0"
                max="2000"
                value="0"
                step="1"
                onchange="applyFilters()"
              />
              <input
                type="range"
                class="range-max"
                min="0"
                max="2000"
                value="2000"
                step="1"
                onchange="applyFilters()"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-9">
          <div class="row" id="cars-list">
            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/jeep-renegade.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>Jeep Renegade</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$265</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/bmw-m5.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>Mini Cooper</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$244</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/ferrari-enzo.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>Ferarri Enzo</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$167</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/ford-raptor.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>Ford Raptor</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$147</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/mini-cooper.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>Mini Cooper</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$238</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/vw-polo.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>VW Polo</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$106</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/chevrolet-camaro.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>Chevrolet Camaro</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$245</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/hyundai-staria.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>Hyundai Staria</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$191</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/toyota-rav.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>Toyota Rav 4</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$114</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/bentley.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>Bentley</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$299</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/lexus.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>Lexus</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$131</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="de-item-list mb30">
                <div class="d-img">
                  <img
                    src="{{ url_for('static', filename='images/cars/range-rover.jpg') }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="d-info">
                  <div class="d-text">
                    <h4>Range Rover</h4>
                    <div class="d-atr-group">
                      <ul class="d-atr">
                        <li><span>Seats:</span>4</li>
                        <li><span>Luggage:</span>2</li>
                        <li><span>Doors:</span>4</li>
                        <li><span>Fuel:</span>Petrol</li>
                        <li><span>Horsepower:</span>500</li>
                        <li><span>Engine:</span>3000</li>
                        <li><span>Drive:</span>4x4</li>
                        <li><span>Type:</span>Hatchback</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="d-price">
                  Daily rate from <span>$228</span>
                  <a
                    class="btn-main"
                    href="{{ url_for('controller.car_single') }}"
                    >Rent Now</a
                  >
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <button id="prev-page-btn">上一頁</button>
          <button id="next-page-btn">下一頁</button>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
