{% extends "base.html" %} {% block content %}
<div class="no-bottom no-top zebra" id="content">
  <div id="top"></div>

  <section id="subheader" class="jarallax text-light mb-90">
    <img
      src="{{ url_for('static', filename='images/background/2.jpg') }}"
      class="jarallax-img"
      alt=""
    />
    <div class="center-y relative text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Cars</h1>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>

  <section id="section-cars" class="mb-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="item_filter_group">
            <h4>Car Body Type</h4>
            <div class="de_form" id="car-body">
              <div class="de_checkbox">
                <input
                  id="suv-filter"
                  name="suv-filter"
                  type="checkbox"
                  value="運動休旅車"
                  onchange="applyFilters()"
                />
                <label for="suv-filter">運動休旅車</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car-filter"
                  name="car-filter"
                  type="checkbox"
                  value="轎車"
                  onchange="applyFilters()"
                />
                <label for="car-filter">轎車</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="coupe-filter"
                  name="coupe-filter"
                  type="checkbox"
                  value="雙門轎跑車"
                  onchange="applyFilters()"
                />
                <label for="coupe-filter">雙門轎跑車</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="hatchback-filter"
                  name="hatchback-filter"
                  type="checkbox"
                  value="掀背車"
                  onchange="applyFilters()"
                />
                <label for="hatchback-filter">掀背車</label>
              </div>
              <div class="de_checkbox">
                <input
                  id="rv-filter"
                  name="rv-filter"
                  type="checkbox"
                  value="休旅車"
                  onchange="applyFilters()"
                />
                <label for="rv-filter">休旅車</label>
              </div>
              <div class="de_checkbox">
                <input
                  id="other-bodies-filter"
                  name="other-bodies-filter"
                  type="checkbox"
                  value="其它"
                  onchange="applyFilters()"
                />
                <label for="other-bodies-filter">其它</label>
              </div>
            </div>
          </div>

          <div class="item_filter_group">
            <h4>Car Seats</h4>
            <div class="de_form" id="car-seat">
              <div class="de_checkbox">
                <input
                  id="car_seat_1"
                  name="car_seat_1"
                  type="checkbox"
                  value="2"
                  onchange="applyFilters()"
                />
                <label for="car_seat_1">2 seats</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_seat_2"
                  name="car_seat_2"
                  type="checkbox"
                  value="4"
                  onchange="applyFilters()"
                />
                <label for="car_seat_2">4 seats</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_seat_3"
                  name="car_seat_3"
                  type="checkbox"
                  value="5"
                  onchange="applyFilters()"
                />
                <label for="car_seat_3">5 seats</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_seat_4"
                  name="car_seat_4"
                  type="checkbox"
                  value="5plus"
                  onchange="applyFilters()"
                />
                <label for="car_seat_4">5+ seats</label>
              </div>
            </div>
          </div>

          <div class="item_filter_group">
            <h4>Car Engine Capacity (cc)</h4>
            <div class="de_form" id="car-displacement">
              <div class="de_checkbox">
                <input
                  id="car_engine_1"
                  name="car_engine_1"
                  type="checkbox"
                  value="1000~2000"
                  onchange="applyFilters()"
                />
                <label for="car_engine_1">1000 - 2000</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_engine_2"
                  name="car_engine_2"
                  type="checkbox"
                  value="2000~4000"
                  onchange="applyFilters()"
                />
                <label for="car_engine_2">2000 - 4000</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_engine_3"
                  name="car_engine_3"
                  type="checkbox"
                  value="4000~6000"
                  onchange="applyFilters()"
                />
                <label for="car_engine_3">4000 - 6000</label>
              </div>

              <div class="de_checkbox">
                <input
                  id="car_engine_4"
                  name="car_engine_4"
                  type="checkbox"
                  value="6000plus"
                  onchange="applyFilters()"
                />
                <label for="car_engine_4">6000+</label>
              </div>
            </div>
          </div>

          <div class="item_filter_group">
            <h4>Price ($)</h4>
            <div class="price-input">
              <div class="field">
                <span>Min</span>
                <input
                  type="number"
                  class="input-min"
                  value="0"
                  onchange="applyFilters()"
                />
              </div>
              <div class="field">
                <span>Max</span>
                <input
                  type="number"
                  class="input-max"
                  value="2000"
                  onchange="applyFilters()"
                />
              </div>
            </div>
            <div class="slider">
              <div class="progress"></div>
            </div>
            <div class="range-input">
              <input
                type="range"
                class="range-min"
                min="0"
                max="2000"
                value="0"
                step="1"
                onchange="applyFilters()"
              />
              <input
                type="range"
                class="range-max"
                min="0"
                max="2000"
                value="2000"
                step="1"
                onchange="applyFilters()"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-9">
          <div class="row" id="cars-list"></div>

          <button class="prev-cars-list btn btn-primary me-4">上一頁</button>
          <button class="next-cars-list btn btn-primary">下一頁</button>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
